body{
    width: 300px;
    height: 500px;
    background-color: #f2f2f2;
    margin-left: 0;
    margin-right: 0;
}

#main_word_white{
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    color: #1E3252;
    font-size: 15px;
    font-weight: bold;
}
#white_box{
    margin:auto;
    display: block;
    top: 55px;
    position: relative;
    content:url("../images/black_box.png")

}
.check_white{
    width: 44.22px;
    height: 30px;
}


button{
    width: 92px;
    height: 41px;
    border-radius: 5px;
    background-color: #D9D9D9;
    font-weight: bold;
    color : #1E3252;
    font-family: 'Noto Sans KR', sans-serif;
    border-style: none;
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px; */
    /* padding-left: 15px;
    padding-right: 15px; */
    text-align: center;
    transition-duration: 0.3s;
    position: relative;
    top: 120px;
    /* display: inline-block; */
    /* margin: auto; */
    /* margin-top: 120px; */
    margin-left: 100px;
    font-size: 15px;
 }
 button:active{
     box-shadow: none;
 }
 .reverse_icon{
    width: 20px;
    height: 20px;
    position:fixed;
    bottom:0px;
    right:0px;
    content:url("../images/sun.png")
 }
 #loading{
    display: none;
    position: relative;
    top: 200px;
    text-align: center;
 }
.font_wait{
    font-family: 'Noto Sans KR',sans-serif; 
    font-size: 20px;
    font-weight: bold;
    color: #1E3252;
}
#hourglass_white{
    width: 80px;
    height: 80px;
    content: url("../images/hourglass_black.png");
}
.danger_bar_normal{
    width: 300px;
    height: 49px;
    position: relative;
    top: 20px;
    content: url("../images/보통_검정.png");
    display: none;
}

.danger_bar_caution{
    width: 300px;
    height: 49px;
    position: relative;
    top: 20px;
    content: url("../images/주의_검정.png");
    display: none;
}
#content{
    width: 303px;
    height: 309px;
}
#field_small{
    position: relative;
    top: 70px;
    border-radius: 5px;
    border-style: none;
    background-color: #d9d9d9;
    width: 59px;
    height: 84px;
    font-family: 'Noto Sans KR',sans-serif; 
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
}
#field_large{
    position: relative;
    left: 58px;
    bottom: 14px;
    width: 241px;
    height: 84px;
    border-radius: 5px;
    border-style: none;
    background-color: #d9d9d9;
    display: flex;
    flex-wrap: wrap;

}

#info_hidden{
    display: none;
}

.no_info{
    display: none;
}

.no_privacy{
    display: none;
}

#human_id{
    width: 43px;
    height: 43px;
    display: none;
}
#drive{
    width: 43px;
    height: 43px;
    display: none;
}
#health{
    width: 43px;
    height: 43px;
    display: none;
}
#location{
    width: 43px;
    height: 43px;
    display: none;
}
#travel{
    width: 43px;
    height: 43px;
    display: none;
}
#credit{
    width: 43px;
    height: 43px;
    display: none;
}

#call{
    width: 43px;
    height: 43px;
    display: none;
}
#email{
    width: 43px;
    height: 43px;
    display: none;
}
#gender{
    width: 43px;
    height: 43px;
    display: none;
}
#address{
    width: 43px;
    height: 43px;
    display: none;
}
#birthday{
    width: 43px;
    height: 43px;
    display: none;
}
#name{
    width: 43px;
    height: 43px;
    display: none;
}
#body_info{
    width: 43px;
    height: 43px;
    display: none;
}
#device{
    width: 43px;
    height: 43px;
    display: none;
}
#cookie{
    width: 43px;
    height: 43px;
    display: none;
}


#field_total{
    height: 110px;
}

.question{
    width: 20px;
    height: 20px;
    position: relative;
    top: 50px;
    left: 62px;
    content: url("../images/물음표_검정.png");

}
.arrow_box{
    
    background-color: #343434;
    z-index: 9999;
    position: absolute;
    width: 230px;
    top: 40px;
    padding: 5px;
    display: none;
    border: 2px solid;
    border-color: #343434;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    font-family: 'Noto Sans KR',sans-serif;
}
.question:hover + p.arrow_box {
display: block;
}